{
  "env": {
    "browser": true
  },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "max-len": [1, { "code": 120 }],
    "react/react-in-jsx-scope": [0],
    "no-shadow": [0]
  }
}
